@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 890px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-container {
  max-width: 1100px;
  margin: 0px auto;
}

.menu__body {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  line-height: 29px;
  margin-right: 35px;
}

@media (min-width: 768px) {
  .menu__link {
    -webkit-transition: color .2s ease-in 0s;
    transition: color .2s ease-in 0s;
  }
  .menu__link:hover {
    color: red;
  }
}

@media (max-width: 767px) {
  .menu-icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    top: 15px;
    left: 93%;
  }
  .menu-icon span,
  .menu-icon::before,
  .menu-icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    background: black;
  }
  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu-icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu-icon._active::before {
    top: 50%;
    -webkit-transform: translate(0px, -50%) rotate(-45deg);
            transform: translate(0px, -50%) rotate(-45deg);
  }
  .menu-icon._active::after {
    bottom: 50%;
    -webkit-transform: translate(0px, 50%) rotate(45deg);
            transform: translate(0px, 50%) rotate(45deg);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow: auto;
    top: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: top .5s ease-in 0s;
    transition: top .5s ease-in 0s;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 130px;
  }
  .menu__link {
    color: black;
  }
  .menu__body._active {
    top: 0;
  }
  .menu__list > li {
    margin-bottom: 30px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0px;
  }
  .menu__link {
    font-size: 24px;
  }
}

@media (max-width: 570px) {
  .menu-icon {
    left: 90%;
  }
}

@media (max-width: 350px) {
  .menu-icon {
    left: 85%;
  }
}

.hello {
  padding-top: 220px;
}

.hello__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hello__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hello__info-tittle {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
  margin-bottom: 15px;
}

.hello__info-text {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
  margin-bottom: 32px;
}

.hello__info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF6464;
  border-radius: 2px;
  width: 208px;
  height: 47px;
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  -webkit-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
}

.hello__info-btn:hover {
  color: #FF6464;
  background: #ecd8d8;
}

.hello__iamge {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 243px;
          flex: 0 1 243px;
  border: #EDF7FA;
}

@media (max-width: 768px) {
  .hello {
    padding-top: 140px;
  }
  .hello__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hello__info-tittle {
    margin-top: 40px;
    font-size: 35px;
    margin-bottom: 5px;
  }
  .hello__info-text {
    font-size: 17px;
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  .hello {
    padding-top: 100px;
  }
  .hello__info-tittle {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .hello__info-text {
    font-size: 17px;
    margin-bottom: 15px;
  }
}

.recent-posts {
  margin-top: 70px;
  padding-top: 35px;
  padding-bottom: 35px;
  background: #EDF7FA;
}

.recent-posts-blog {
  margin-top: 150px;
}

.recent-posts__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}

.recent-posts__head--title {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}

.recent-posts__make {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #21243D;
}

.recent-posts__all {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #00A8CC;
}

@media (min-width: 768px) {
  .recent-posts__all {
    -webkit-transition: color .2s ease-in 0s;
    transition: color .2s ease-in 0s;
  }
  .recent-posts__all:hover {
    color: rgba(0, 168, 204, 0.7);
  }
}

@media (max-width: 768px) {
  .recent-posts {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .recent-posts__head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recent-posts__all {
    display: none;
  }
}

@media (max-width: 540px) {
  .recent-posts {
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.content-post__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-post__row-blog {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0;
  margin-left: 0;
}

.content-post__box {
  margin: 0px 10px;
  background: white;
  padding: 25px;
}

.box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 418px;
          flex: 0 0 418px;
}

.box-blog {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}

.box__title {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 20px;
  color: #21243D;
}

.box__data {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #21243D;
  margin-bottom: 22px;
}

.box__data a {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #21243D;
  margin-bottom: 22px;
  position: relative;
}

@media (min-width: 768px) {
  .box__data a::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 1.5px;
    background: #000;
    bottom: 0;
    left: 5px;
    display: none;
  }
  .box__data a:hover::after {
    display: block;
  }
}

.box__data span {
  padding: 0px 32px;
}

.box__text {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}

@media (max-width: 768px) {
  .content-post__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .box {
    margin: 0;
    margin-bottom: 20px;
  }
  .box__title {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .box__data {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .box__data a {
    font-size: 15px;
  }
}

.featured {
  padding-top: 45px;
}

.featured__title {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
  margin-bottom: 30px;
}

.featured__title-work {
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: Heebo;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

@media (max-width: 767px) {
  .featured__title-work {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 32px;
  }
}

.featured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .featured__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: auto;
  }
  .featured__list-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 540px) {
  .featured {
    padding-top: 10px;
  }
  .featured__title {
    margin-bottom: 10px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
  margin-top: 35px;
}

.item-work {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  margin-right: 20px;
}

.item__title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.item__title a {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .item__title a {
    font-size: 22px;
  }
}

.item__data-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.item__data-data {
  margin-right: 25px;
  font-family: Heebo;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  background: #000;
  width: 62px;
  height: 25px;
  background: #142850;
  border-radius: 16px;
  text-align: center;
  line-height: 26px;
  -webkit-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
}

.item__data-data a {
  font-family: Heebo;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
}

.item__data-data a:hover {
  color: #142850;
}

.item__data-data:hover {
  background: #cfc8c8;
}

.item__text {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}

.item__image-work {
  margin-right: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
}

@media (max-width: 768px) {
  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 540px) {
  .item__image {
    margin-right: 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
  }
  .item__data {
    margin-top: 0;
  }
  .item__data-data {
    margin-right: 10px;
  }
  .item__title {
    margin-top: 18px;
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.main-desc a {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}

.main-desc a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .featured__list {
    margin: 0px -15px;
  }
  .item {
    margin: 0px 15px;
  }
}

.footer {
  margin-top: 135px;
  margin-bottom: 55px;
  max-width: 235px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 540px) {
  .footer {
    margin-bottom: 30px;
    margin-top: 80px;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
  margin-bottom: 30px;
}

.footer__image {
  margin-right: 35px;
}

@media (min-width: 768px) {
  .footer__fb:hover path, .footer__inst:hover path, .footer__tweet:hover path, .footer__noname:hover path {
    fill: #434663;
  }
}

.footer__copy {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243D;
}

.detail {
  margin-top: 150px;
}

.detail__title {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 50px;
  color: #21243D;
  margin-bottom: 30px;
}

.detail__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.detail__data-data {
  width: 62px;
  height: 25px;
  background: #FF7C7C;
  border-radius: 16px;
  margin-right: 27px;
}

.detail__data-data p {
  color: #FFFFFF;
  font-family: Heebo;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
}

.detail__data-text {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #21243D;
}

.detail__text-lm {
  margin-bottom: 28px;
}

.detail__text {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 48px;
}

.detail__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail__subtitle {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 60px;
  color: #21243D;
}

.detail__sub-subtitle {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
  color: #21243D;
}

@media (max-width: 768px) {
  .detail {
    margin-top: 100px;
  }
}

@media (max-width: 540px) {
  .detail {
    margin-top: 70px;
  }
  .detail__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .detail__data {
    margin-bottom: 17px;
  }
  .detail__text {
    margin-bottom: 24px;
  }
}
